			.button1{
				-webkit-transition-duration: 0.4s;
				transition-duration: 0.4s;
				padding: 30px 200px;
				text-align: center;
				background-color: cornsilk;
				color: brown;
				font-weight: 600;
				font-size: 30px;
				border: 2px solid #6f4e31;
				border-radius: 10px;
				
			}
			.button1:hover{
				background-color: #6f4e31;
				color: white;
			}
			.button2{
				-webkit-transition-duration: 0.4s;
				transition-duration: 0.4s;
				padding: 10px 50px;
				text-align: center;
				background-color: #88bf88;
				color: #206864;
				font-weight: 600;
				font-size: 30px;
				border: 5px solid #206864;
				border-radius: 10px;
				
			}
			.button2:hover{
				background-color: #a1d4f1;
				color: #0a6b8b;
			}
			.xiaozi{color: bisque;font-size: 3px;}
			.box1{
				width: 45%;
				margin: auto;
			}
			.box2{
				width: 50%;
				margin: auto;
			}
			.daohanglan{
				width: 70%;
				margin: auto;
				word-spacing: 10em;
				padding: 20px 50px;
				border: 5px dashed #cc7ca5;
			}
			.zhengwenziti{
				background-color: black;
				color: #cccccc;
				margin: 200px 200px;
				padding-top: 20px;
				padding-bottom: 200px;
				padding-left: 100px;
				padding-right: 100px;
			}
			.ddiangezikuang{
				border: #cccccc 5px solid;
				border-radius: 50px;
				padding: 20px ;
				margin: 220px 100px;
				color: #8a8a8a;
				float: left;
				width: 50%;
			}
			.grab {
			  cursor:grab;
			}
